# Node modules
node_modules/
cypress-study-project/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Cypress output
cypress-study-project/cypress/videos/
cypress-study-project/cypress/screenshots/

# Build output
dist/
build/

# VSCode settings
.vscode/

# Coverage reports
coverage/
cypress-study-project/coverage/